.image-container {
  height: 100vh;
}

@media(max-width:600px) {
  .App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-container {
    height: auto;
    width: 90vw;
    margin-bottom: 100px;
  }
}

img {
  width: 100%;
  height: 100%;
}